* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}

.head {
    display: flex;
    justify-content: space-around;
    background: #fff;
    line-height: 40px;
}

.head .active {
    border-bottom: 2px solid blue;
    padding: 0 10px;
}

.main_con {
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    .top {
        background: #FD6060;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
    }
    .bot {
        line-height: 30px;
    }
}